[Unit]
Description=Sensors API to influxdb
After=multi-user.target[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/sensors/sensors-to-influxdb.py
[Install]
WantedBy=multi-user.target